package $!{package}.$!{moduleName}.entity;

#if($!{hasBigDecimal})
import java.math.BigDecimal;
#end
import java.time.LocalDateTime;
import java.io.Serializable;
import java.util.Date;
import javax.persistence.*;
import io.swagger.annotations.ApiModelProperty;
import org.springframework.data.annotation.CreatedDate;
import org.springframework.data.annotation.LastModifiedDate;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import lombok.Data;
import lombok.NoArgsConstructor;
/**
 * <p>
 * $!{comments}
 * </p>
 *
 * @author $!{author}
 * @date Created in $!{datetime}
 */
@Entity
@Table(name = "$!{tableName}")
@JsonIgnoreProperties(ignoreUnknown = true)
@Data
@NoArgsConstructor
public class $!{className}Entity implements Serializable {
    private static final long serialVersionUID = 1L;

  #foreach ($!column in $!columns)
    /**
     * $!column.comments
     */
    @ApiModelProperty(value = "$!column.comments")
    #if($!column.columnName == $!pk.columnName)
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private Long $!column.lowerAttrName;
    #else
    @Column(name = "$!{column.columnName}", nullable = $!{column.nullAbled})
    private $!column.attrType $!column.lowerAttrName;
    #end

  #end
}
